server:
  port: 8080
spring:
  application:
    name: spring-boot-app
  datasource:
    url: jdbc:postgresql://postgres-prod:5432/mydb
    username: postgres
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
logging:
  level:
    root: INFO