apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.appName }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.appName }}
data:
  config.yaml: |
    {{ .Values.appConfig }}