apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.appName }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.appName }}
data:
  {{ (.Values.config | default dict).fileName | default "config.yaml" }}: |
    {{- .Values.appConfig | nindent 4 }}